In [2]:
import numpy as np
import pandas as pd
from tqdm.autonotebook import tqdm
import warnings 
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("us_eastern_regions_hourly_temperature_2006_to_2025.csv")
df['time'] = pd.to_datetime(df['time'])
df.set_index('time', inplace=True)
df.head()

,arkansas_temp,colorado_temp,connecticut_temp,delaware_temp,florida_temp,georgia_temp,illinois_temp,indiana_temp,iowa_temp,kansas_temp,...,north_dakota_temp,ohio_temp,oklahoma_temp,rhode_island_temp,south_carolina_temp,south_dakota_temp,tennessee_temp,texas_temp,virginia_temp,wyoming_temp
time,,,,,,,,,,,,,,,,,,,,,
2006-01-01 00:00:00,NaN,NaN,NaN,NaN,19.4,NaN,1.1,1.7,1.1,NaN,...,-2.8,NaN,NaN,-0.6,NaN,NaN,NaN,9.4,NaN,NaN
2006-01-01 01:00:00,NaN,-1.0,-2.8,6.1,19.4,6.7,-0.6,1.7,1.1,6.1,...,-2.8,1.7,11.7,-0.6,14.4,-1.1,8.9,10.0,7.2,11.7
2006-01-01 02:00:00,NaN,-3.0,-2.2,5.6,17.8,3.9,-0.6,1.7,0.6,6.1,...,-2.8,1.7,13.3,0.0,12.8,-1.1,8.3,8.3,2.8,8.3
2006-01-01 03:00:00,NaN,-4.0,-2.2,5.0,16.1,3.3,0.6,1.7,0.0,6.1,...,-3.3,1.7,13.3,0.0,11.1,-1.7,3.3,8.3,1.7,8.3
2006-01-01 04:00:00,NaN,-4.0,-1.7,3.9,15.0,2.8,0.0,0.6,0.0,4.4,...,-3.3,1.7,13.9,0.0,8.9,-2.2,5.6,7.2,6.1,7.2

In [3]:
def fill_nan(df):
    df = df.copy()

    for col in df.columns:
        nan_indices = df[df[col].isna()].index

        for idx in tqdm(nan_indices):
            values = []

            for i in range(1, 8):  
                prev = idx - pd.Timedelta(days=i)
                next = idx + pd.Timedelta(days=i)

                if prev in df.index and not pd.isna(df.at[prev, col]):
                    values.append(df.at[prev, col])
                if next in df.index and not pd.isna(df.at[next, col]):
                    values.append(df.at[next, col])

            if values:
                df.at[idx, col] = np.mean(values)
    
    return df

In [4]:
df = fill_nan(df)
df.head()

  0%|          | 0/3665 [00:00<?, ?it/s]

  0%|          | 0/25288 [00:00<?, ?it/s]

  0%|          | 0/378 [00:00<?, ?it/s]

  0%|          | 0/1118 [00:00<?, ?it/s]

  0%|          | 0/111 [00:00<?, ?it/s]

  0%|          | 0/433 [00:00<?, ?it/s]

  0%|          | 0/96 [00:00<?, ?it/s]

  0%|          | 0/10 [00:00<?, ?it/s]

  0%|          | 0/10 [00:00<?, ?it/s]

  0%|          | 0/319 [00:00<?, ?it/s]

  0%|          | 0/327 [00:00<?, ?it/s]

  0%|          | 0/1446 [00:00<?, ?it/s]

  0%|          | 0/179 [00:00<?, ?it/s]

  0%|          | 0/5358 [00:00<?, ?it/s]

  0%|          | 0/11 [00:00<?, ?it/s]

  0%|          | 0/164 [00:00<?, ?it/s]

  0%|          | 0/1669 [00:00<?, ?it/s]

  0%|          | 0/6596 [00:00<?, ?it/s]

  0%|          | 0/647 [00:00<?, ?it/s]

  0%|          | 0/780 [00:00<?, ?it/s]

  0%|          | 0/246 [00:00<?, ?it/s]

  0%|          | 0/738 [00:00<?, ?it/s]

  0%|          | 0/14 [00:00<?, ?it/s]

  0%|          | 0/28 [00:00<?, ?it/s]

  0%|          | 0/82 [00:00<?, ?it/s]

  0%|          | 0/199 [00:00<?, ?it/s]

  0%|          | 0/957 [00:00<?, ?it/s]

  0%|          | 0/51 [00:00<?, ?it/s]

  0%|          | 0/639 [00:00<?, ?it/s]

  0%|          | 0/750 [00:00<?, ?it/s]

  0%|          | 0/2462 [00:00<?, ?it/s]

  0%|          | 0/72 [00:00<?, ?it/s]

  0%|          | 0/184 [00:00<?, ?it/s]

  0%|          | 0/9538 [00:00<?, ?it/s]

,arkansas_temp,colorado_temp,connecticut_temp,delaware_temp,florida_temp,georgia_temp,illinois_temp,indiana_temp,iowa_temp,kansas_temp,...,north_dakota_temp,ohio_temp,oklahoma_temp,rhode_island_temp,south_carolina_temp,south_dakota_temp,tennessee_temp,texas_temp,virginia_temp,wyoming_temp
time,,,,,,,,,,,,,,,,,,,,,
2006-01-01 00:00:00,11.6,-7.285714,-3.172066e-17,4.585714,19.4,9.928571,1.1,1.7,1.1,9.614286,...,-2.8,4.528571,13.514286,-0.6,12.128571,1.342857,9.285714,9.4,3.642857,7.6
2006-01-01 01:00:00,10.4,-1.000000,-2.800000e+00,6.100000,19.4,6.700000,-0.6,1.7,1.1,6.100000,...,-2.8,1.700000,11.700000,-0.6,14.400000,-1.100000,8.900000,10.0,7.200000,11.7
2006-01-01 02:00:00,9.4,-3.000000,-2.200000e+00,5.600000,17.8,3.900000,-0.6,1.7,0.6,6.100000,...,-2.8,1.700000,13.300000,0.0,12.800000,-1.100000,8.300000,8.3,2.800000,8.3
2006-01-01 03:00:00,8.0,-4.000000,-2.200000e+00,5.000000,16.1,3.300000,0.6,1.7,0.0,6.100000,...,-3.3,1.700000,13.300000,0.0,11.100000,-1.700000,3.300000,8.3,1.700000,8.3
2006-01-01 04:00:00,6.8,-4.000000,-1.700000e+00,3.900000,15.0,2.800000,0.0,0.6,0.0,4.400000,...,-3.3,1.700000,13.900000,0.0,8.900000,-2.200000,5.600000,7.2,6.100000,7.2

In [6]:
df.isna().sum().sum()

0

In [7]:
df = df.round(1)
df.head()

,arkansas_temp,colorado_temp,connecticut_temp,delaware_temp,florida_temp,georgia_temp,illinois_temp,indiana_temp,iowa_temp,kansas_temp,...,north_dakota_temp,ohio_temp,oklahoma_temp,rhode_island_temp,south_carolina_temp,south_dakota_temp,tennessee_temp,texas_temp,virginia_temp,wyoming_temp
time,,,,,,,,,,,,,,,,,,,,,
2006-01-01 00:00:00,11.6,-7.3,-0.0,4.6,19.4,9.9,1.1,1.7,1.1,9.6,...,-2.8,4.5,13.5,-0.6,12.1,1.3,9.3,9.4,3.6,7.6
2006-01-01 01:00:00,10.4,-1.0,-2.8,6.1,19.4,6.7,-0.6,1.7,1.1,6.1,...,-2.8,1.7,11.7,-0.6,14.4,-1.1,8.9,10.0,7.2,11.7
2006-01-01 02:00:00,9.4,-3.0,-2.2,5.6,17.8,3.9,-0.6,1.7,0.6,6.1,...,-2.8,1.7,13.3,0.0,12.8,-1.1,8.3,8.3,2.8,8.3
2006-01-01 03:00:00,8.0,-4.0,-2.2,5.0,16.1,3.3,0.6,1.7,0.0,6.1,...,-3.3,1.7,13.3,0.0,11.1,-1.7,3.3,8.3,1.7,8.3
2006-01-01 04:00:00,6.8,-4.0,-1.7,3.9,15.0,2.8,0.0,0.6,0.0,4.4,...,-3.3,1.7,13.9,0.0,8.9,-2.2,5.6,7.2,6.1,7.2

In [11]:
df_minutely = df.resample('1T').interpolate(method='linear')
df_minutely = df_minutely.round(1)
df_minutely.head()

,arkansas_temp,colorado_temp,connecticut_temp,delaware_temp,florida_temp,georgia_temp,illinois_temp,indiana_temp,iowa_temp,kansas_temp,...,north_dakota_temp,ohio_temp,oklahoma_temp,rhode_island_temp,south_carolina_temp,south_dakota_temp,tennessee_temp,texas_temp,virginia_temp,wyoming_temp
time,,,,,,,,,,,,,,,,,,,,,
2006-01-01 00:00:00,11.6,-7.3,0.0,4.6,19.4,9.9,1.1,1.7,1.1,9.6,...,-2.8,4.5,13.5,-0.6,12.1,1.3,9.3,9.4,3.6,7.6
2006-01-01 00:01:00,11.6,-7.2,-0.0,4.6,19.4,9.8,1.1,1.7,1.1,9.5,...,-2.8,4.5,13.5,-0.6,12.1,1.3,9.3,9.4,3.7,7.7
2006-01-01 00:02:00,11.6,-7.1,-0.1,4.6,19.4,9.8,1.0,1.7,1.1,9.5,...,-2.8,4.4,13.4,-0.6,12.2,1.2,9.3,9.4,3.7,7.7
2006-01-01 00:03:00,11.5,-7.0,-0.1,4.7,19.4,9.7,1.0,1.7,1.1,9.4,...,-2.8,4.4,13.4,-0.6,12.2,1.2,9.3,9.4,3.8,7.8
2006-01-01 00:04:00,11.5,-6.9,-0.2,4.7,19.4,9.7,1.0,1.7,1.1,9.4,...,-2.8,4.3,13.4,-0.6,12.3,1.1,9.3,9.4,3.8,7.9

In [12]:
df_minutely.to_csv("us_eastern_regions_minutely_temperature_2006_to_2025.csv")